<html ng-app>
    <head>        
        <!--<title>Simple WebRTC Live Video Chat Demo-AngularJs NodeJs</title>-->
        <!--<meta name="description" content="This live demo showcases the awesomeness of  and WebRTC. To get started choose someone from the left sidebar to video chat with, or just join the conversation...">-->

        <script>

            // Symple client options
            CLIENT_OPTIONS = {
                url: 'http://localhost:4500', // Local testing: http://localhost:4500
                //        transports: ['polling', 'flashsocket'],    // Removing 'websocket' while testing
                peer: {
                    // user: 'myusername',
                    // name: 'My Name',
                    group: 'public'
                }};

            // WebRTC config
            // This is where you would add TURN servers for use in production
            WEBRTC_CONFIG = {'iceServers': [{'url': 'stun:stun.services.mozilla.com'}, {'url': 'stun:stun.l.google.com:19302'}]};
        </script>
        <script>
            user = "g0";
            chatSchedule = {};
            chatSchedule[user] = {
                start: 1446821736523,
                chats: [
                    {
                        chat_id: 1,
                        start: 1444104000,
                        duration: 300,
                        user: 'g0'
                    },
                    {
                        chat_id: 2,
                        start: 1444104420,
                        duration: 300,
                        user: 'g1'
                    }
                ]
            };

        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.17/socket.io.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/symple.js"></script>
        <script type="text/javascript" src="/js/symple.client.js"></script>
        <script type="text/javascript" src="/js/symple.player.js"></script>
        <script type="text/javascript" src="/js/symple.player.webrtc.js"></script>  
        <script type="text/javascript" src="/js/helpers.js"></script>  
        <script type="text/javascript" src="/js/app.js"></script>  

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/symple.player.css">
        <link rel="stylesheet" href="/css/app.css">
    </head>

    <body ng-controller="SympleChat">

        <div id="loading-overlay" ng-show="isLoading">  
            <div class="icon">  
            </div>  
        </div>  

        <div id="container">  
            <div class="alert alert-danger" ng-show="errorText" ng-bind="errorText">You have been disconnected from the server</div>

            <div class="row">
                

                <div class="col-md-8">   

                    <div id="video">
                        <div class="panel panel-default">          
                            <div class="panel-heading">
                                <h3 class="panel-title"> <b>{{remaining}}</b> seconds remaing till next chat with <b>{{chatWith}}</b></h3>
                            </div>            
                            <div class="panel-body">
                                <div class="local-video-wrap">    
                                    <div class="local-video">    
                                    </div>
                                </div>           
                                <div class="remote-video-wrap">       
                                    <div class="remote-video">    
                                    </div>   
                                </div>                   
                            </div>


                        </div>              

                       
                    </div> 
                </div> 

                <footer>
                    
                </footer>
            </div>
    </body>
</html>